.user-profile-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    padding: 20px;
    border-bottom: 1px solid #ddd;
    width: 100%; /* Ensure it takes the full width */
  }
  
  .user-avatar {
    width: 50px; /* Larger avatar */
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .followers-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    width: 100%; /* Ensure it takes the full width */
  }

  
  .follower-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 20%; 
    box-sizing: border-box; 
  }
  .follower-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .href a {
    color: #000000;
    text-decoration: none;
  }



